.gray {
    color: gray;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.barmenu {
    display: inline-flex;
}

.barlength {
    width: 60px;
    height: 3px;
    background: gray;
}