.gray {
    background-color: #e9ecef !important;
}

.red {
    background-color: red !important;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: green !important;
}

.orange {
    background-color: orange !important;
}