* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
  }
  h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: #2a2a2a;
  }
  .size100 {
    height: 100%;
  }
  .b-TextInput__container {
    margin-bottom: 1.5em;
  }
  .b-TextInput, .b-TextInput--error {
    padding: 0.5em;
    background-color: white;
    color: #2a2a2a;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #959595;
    margin-right: -3px;
    width: 7.5em;
    min-width: 325px;
  }
  @media (max-width: 769px) {
    .b-TextInput, .b-TextInput--error {
      margin: 0;
      padding: 0.7em;
      width: 100%;
      min-width: 0;
    }
  }
  .b-TextInput--error {
    border: 1px solid red;
  }
  .error-msg {
    color: red !important;
  }
  .b-TextInput__label--left {
    min-width: 150px;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5em;
    color: #2a2a2a;
  }
  @media (max-width: 769px) {
    .b-TextInput__label--left {
      display: block;
      text-align: left;
      font-size: 0.688em;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0.25em;
    }
  }
  .b-Container {
    width: 80%;
    max-width: 1330px;
    margin: 1em auto;
  }
  @media (max-width: 769px) {
    .b-Container {
      width: 100%;
      padding: 1em;
    }
  }
  .b-Card {
    background-color: white;
    border: 1px solid #969696;
    padding: 1em;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 0.8em;
    overflow: auto;
  }
  .b-Header {
    color: #2a2a2a;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  .b-Header__Primary {
    font-size: 2em;
  }
  .b-Header__Secondary {
    font-size: 1.25em;
    text-transform: uppercase;
  }
  .b-List__Item {
    margin-bottom: 0.6em;
  }
  @media (max-width: 641px) {
    .b-List__Item {
      margin-bottom: 1em;
    }
  }
  .b-List__Label {
    display: inline-block;
    font-size: 0.688em;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
  }
  .b-Button, .b-Button--primary, .b-Button--secondary, .b-Button--tertiary {
    -webkit-appearance: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: 0 0.1em;
    overflow: visible;
    padding: 0.45em 1.25em;
    text-align: center;
    text-decoration: none;
    font-size: 0.875em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }
  @media (max-width: 769px) {
    .b-Button, .b-Button--primary, .b-Button--secondary, .b-Button--tertiary {
      width: 100%;
      font-size: 1.143em;
      padding: inherit 0.7em;
      margin: 0;
    }
  }
  .b-Button--primary {
    background: #006899;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: white;
  }
  .b-Button--primary:hover {
    background: #005e8a;
  }
  .b-Button--secondary {
    background: #d7e4eb;
    border: 1px solid rgba(0, 104, 153, 0.30);
    color: #006899;
  }
  .b-Button--secondary:hover {
    background: #d8e1e6;
  }
  .b-Button--tertiary {
    background: transparent;
    border: 1px solid #006899;
    color: #006899;
  }
  .b-Button--tertiary:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  .b-Link {
    color: #006899;
    font-weight: 700;
    cursor: pointer;
  }
  .b-Link--Inline {
    margin: 0 0.5em;
    display: inline-block;
  }
  .pointer {
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  @media (max-width: 769px) {
    .mobile-hide {
      display: none;
    }
  }
  .mobile-show {
    display: none;
  }
  @media (max-width: 769px) {
    .mobile-show {
      display: block;
    }
  }
  .password-container {
    display: flex;
  }
  @media (max-width: 1025px) {
    .password-container {
      display: block;
    }
  }
  .validation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    margin-left: 1em;
  }
  @media (max-width: 1025px) {
    .validation {
      margin: 1em 0 0 10em;
    }
  }
  @media (max-width: 769px) {
    .validation {
      margin-left: 0;
    }
  }
  .validation-item {
    padding: 0;
  }
  @media (max-width: 1025px) {
    .validation-item {
      margin-bottom: 0.5em;
    }
  }
  .validation-icon, .error, .success {
    display: inline-block;
    margin-right: 0.5em;
    width: 1.25em;
  }
  .validator {
    display: flex;
  }
  .error {
    color: red;
  }
  .success {
    color: green;
  }
  